body{
  background:
}
.mesa{
  width:600px;
  height: auto;
  margin: auto;
  position: relative;
}

.row {
  height: 100%;
  width: 100%;
  text-align: center;
}

.column {
  background: orange;
  border-radius: 4px;
  box-sizing: border-box;
  height: 130px;
  margin: 1px;
  width: 130px;
  display: inline-block;
}
