body {
  background-image: url("./images/suelo.jpg");
}
h1{
  font-family: sans-serif;
  color: black;
}

#game-board {
  position: relative;
  margin-left: 400px;
}

.mesa {
  background: brown;
  border: 2px solid black;
  outline: 5px solid brown;
  position: absolute;
}

#players {
  position: absolute;
}

.silla {
  background-image: url("./images/sofa.png");
  background-size: cover;
  border-top: 8px;
  border-bottom: 8px;
  border-left: 4px;
  border-right: 4px;
  box-sizing: border-box;
  position: absolute;
}
.abajo{
  background-image: url("./images/sofa2.png");
  background-size: cover;
  border-top: 8px;
  border-bottom: 8px;
  border-left: 4px;
  border-right: 4px;
  box-sizing: border-box;
  position: absolute;
}

.comensals {
  border-top: 8px;
  border-bottom: 8px;
  border-left: 4px;
  border-right: 4px;
  box-sizing: border-box;
  position: relative;
  top: 420px;
  display: inline-block;
  margin:auto;
  left: 270px;
}

#character1 {
background-image: url("./images/personaje1.png");
background-size: cover;


}
#character2 {
  background-image: url("./images/personaje2.png");
  background-size: cover;
}

#character3 {
  background-image: url("./images/personaje3.png");
  background-size: cover;
}

#character4 {
  background-image: url("./images/personaje4.png");
  background-size: cover;
}
#character5{
  background-image: url("./images/personaje5.png");
  background-size: cover;
}
#character6{
  background-image: url("./images/personaje6.png");
  background-size: cover;
}
#character7{
  background-image: url("./images/personaje7.png");
  background-size: cover;
}
#character8{
  background-image: url("./images/personaje8.png");
  background-size: cover;
}
