body {
  background-image: url("./images/suelo.jpg");
}
h1{
  font-family: sans-serif;
  color: black;
}

#game-board {
  position: relative;
  margin-left: 400px;
}

.mesa {
  background: brown;
  border: 2px solid black;
  outline: 5px solid brown;
  position: absolute;
}

#players {
  position: absolute;
}
.timer{
  font-family: sans-serif;
  margin-top: 10px;

}

.silla {
  background-image: url("./images/sofa.png");
  background-size: cover;
  border-top: 8px;
  border-bottom: 8px;
  border-left: 4px;
  border-right: 4px;
  box-sizing: border-box;
  position: absolute;
}
.abajo{
  background-image: url("./images/sofa2.png");
  background-size: cover;
  border-top: 8px;
  border-bottom: 8px;
  border-left: 4px;
  border-right: 4px;
  box-sizing: border-box;
  position: absolute;
}


.comensals:before{
  content:"";
  display: none;
  width: 80px;
  height: 80px;
  border-radius: 10px;
  position: absolute;
  top: -70px;
}

#character1:hover:before{
  background-image: url("./images/like 1.png");
  background-size: cover;
  display: block;
}
#character2:hover:before{
  background-image: url("./images/like2.png");
  background-size: cover;
  display: block;
}
#character3:hover:before{
  background-image: url("./images/like3.png");
  background-size: cover;
  display: block;
}
#character4:hover:before{
  background-image: url("./images/like4.png");
  background-size: cover;
  display: block;
}
#character5:hover:before{
  background-image: url("./images/like5.png");
  background-size: cover;
  display: block;
}
#character6:hover:before{
  background-image: url("./images/like6.png");
  background-size: cover;
  display: block;
}
#character7:hover:before{
  background-image: url("./images/like7.png");
  background-size: cover;
  display: block;
}
#character8:hover:before{
  background-image: url("./images/like8.png");
  background-size: cover;
  display: block;
}

.comensals {
  border-top: 8px;
  border-bottom: 8px;
  border-left: 4px;
  border-right: 4px;
  box-sizing: border-box;
  position: relative;
  top: 420px;
  display: inline-block;
  margin:auto;
  left: 270px;
}

#character1 {
background-image: url("./images/personaje1.png");
background-size: cover;
}

#character1:hover{

}
#character2 {
  background-image: url("./images/personaje2.png");
  background-size: cover;

}

#character3 {
  background-image: url("./images/personaje3.png");
  background-size: cover;
}

#character4 {
  background-image: url("./images/personaje4.png");
  background-size: cover;
}
#character5{
  background-image: url("./images/personaje5.png");
  background-size: cover;
}
#character6{
  background-image: url("./images/personaje6.png");
  background-size: cover;
}
#character7{
  background-image: url("./images/personaje7.png");
  background-size: cover;
}
#character8{
  background-image: url("./images/personaje8.png");
  background-size: cover;
}
